<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./source/css/index.css"><link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="public/config.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    </head>
    <body>
        <div id="app">
            <el-dialog :visible.sync="dialogTableVisible" width="90%">
                <el-form ref="form" :model="form" label-width="80px" size="small" style="marginLeft: -10vw">
                    <el-form-item label="维度">
                        <el-input v-model="lat" disable></el-input>
                    </el-form-item>
                    <el-form-item label="经度">
                        <el-input v-model="lng" disable></el-input>
                    </el-form-item>
                    <el-form-item label="标注" prop="desc">
                        <el-input type="textarea" v-model="mark"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="">立即创建</el-button>
                        <el-button @click="">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
            <div class="panel" @click="dialogTableVisible = !dialogTableVisible">
               +
            </div>
            <img src="./source/imgs/pos.png" alt="mark" class="mark" ref="center">
            <div id="map">
            </div>
        </div>
    </body>
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./source/js/map.js"></script>
    <script src="./source/js/test.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                isCollapse: true,
                dialogTableVisible: false,
                gridData: [],
                form: {},
                lat: 39.916527,
                lng: 116.397128,
                mark: ''
            },
            mounted() {
                this.initMap();
            },
            methods: {
                initMap () {
                    let self = this;
                    var myLatlng = new qq.maps.LatLng(39.916527,116.397128);
                    var myOptions = {
                        zoom: 15,
                        center: myLatlng,
                        mapTypeId: qq.maps.MapTypeId.ROADMAP
                    }
                    this.map = new qq.maps.Map(document.getElementById("map"), myOptions);
                }
            },
            watch: {
                dialogTableVisible: function(v1, v2) {
                    if(v1) {
                        let pos = this.map.getCenter();
                        this.lat = pos.lat;
                        this.lng = pos.lng;
                    }
                }
            }
        })
    </script>
</html>